Lab2/Lab2Xml/Elements/CoffeeAmountElement.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:simpleType name="CoffeeAmount">
        <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="10"/>
            <xsd:maxInclusive value="40"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="CoffeeAmountElement">
        <xsd:attribute name="value" type="CoffeeAmount" use="required"/>
    </xsd:complexType>
</xsd:schema>