Lab2/Lab2Xml/Elements/MilkVolumeElement.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:simpleType name="MilkVolume">
        <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="50"/>
            <xsd:maxInclusive value="200"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="MilkVolumeElement">
        <xsd:attribute name="value" type="MilkVolume" use="required"/>
    </xsd:complexType>
</xsd:schema>