Lab2/Lab2Xml/Elements/WaterVolumeElement.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:simpleType name="WaterVolume">
        <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="40"/>
            <xsd:maxInclusive value="90"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="WaterVolumeElement">
        <xsd:attribute name="value" type="WaterVolume" use="required"/>
    </xsd:complexType>
</xsd:schema>
