Lab2/Lab2Xml/Elements/WhippedCreamVolumeElement.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:simpleType name="WhippedCreamVolume">
        <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="10"/>
            <xsd:maxInclusive value="60"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="WhippedCreamVolumeElement">
        <xsd:attribute name="value" type="WhippedCreamVolume" use="required"/>
    </xsd:complexType>
</xsd:schema>